$color-white: #ffffff;
$color-white-dark: #e2e2e2;
$color-light: #f5f5f5;
$color-black: #000000;
$color-dark: #1d1d1d;
$color-darker: #121212;
$color-light-dark: #292929;
$color-gray: #8e8e8f;
$color-light-gray: #b1b1b1;
$color-purple: #8e42eb;

$margin-bottom: clamp(50px, 5vw, 80px);

$transition: all ease .3s;
